@font-face {
  font-family: 'Hector';
  src: url('/fonts/Hector-regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-variable.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

/* Example usage */
body {
  font-size: 24pt;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  background: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: 0;
}

.logo {
  width: 40vw;
  max-width: 450px;
  min-width: 250px;
}

.header {
  display: flex;
  align-items: center;
  height: 25vh;

  @media screen and (min-width: 55em) and (min-height: 40em) {
    height: 22vh;
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  height: 58vh;
  justify-content: center;

  @media screen and (min-width: 55em) and (min-height: 40em) {
    height: 52vh;
  }
}

h1 {
  font-family: 'Hector', sans-serif;
  font-size: 1.9rem;
  line-height: 2.1rem;
  letter-spacing: 0.03rem;
  margin: 0rem 1rem;
  max-width: 500px;
  font-weight: 100;

  @media screen and (min-width: 55em) and (min-height: 40em) {
    font-size: 2.5rem;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
  }
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.1rem;
  letter-spacing: 0.11rem;
  margin: 1.2rem 1rem;
  color: #d3e6fd;

  & b {
    font-weight: 500;
  }

  @media screen and (min-width: 55em) and (min-height: 40em) {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}

.sky-link {
  color: #504cff;
  background-image: linear-gradient(220deg, #504cff, #F0459A, #FFBC5E);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background-image: linear-gradient(#fff, #fff);
  }
}

a {
  text-decoration: none;
  color: white;
  outline: none;
  cursor: pointer;
  position: relative;
}

a:hover {
  color: white;
  outline: none;
}