@font-face {
  font-family: 'Hector';
  src: url('./fonts/hector-regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

/* Example usage */
body {
  font-family: 'Hector', sans-serif;
  font-size: 24pt;
}